<!DOCTYPE html>
<html>
<head>
<meta name="description" content="travel planning app">
<meta name="keywords" content="travel planning">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="charset=UTF-8">

<title>Travel App</title>
</head>
<body>
    <header>
    <p class="header">Travel Planner</p>
    </header>
    <main>
        <section class="entredData">           
            <form onsubmit="return Client.handleSubmit(event)">
                <span class="tripDesSpan">
                    <label for="entredDes"> My trip to:</label>
                        <input type="text" autocomplete="off" name="entredDes" class="entredDes" placeholder="where you going to?" required>             
                </span>
            <span class="tripDateSpan">
                <label for="entredDate"> Departing:</label>
                    <input type="date" name="entredDate" class="entredDate" required>   
            </span>
            <span class="flightInfoSpan">
                <label for="entredFlight">Flight info:</label>
                    <input type="text" name="entredFlight" autocomplete="off" class="entredFlight" placeholder="flight info">   
            </span>
            <span class="hotelInfoSpan">
                <label for="entredHotel">Hotel info:</label>
                    <input type="text" name="entredHotel" autocomplete="off" class="entredHotel" placeholder="where you staying at?">    
            </span>
            <span class="tripEndDateSpan">
                <label for="entredDate"> End date:</label>
                    <input type="date" name="entredDate" class="entredEndDate">
            </span>
        </form>
        
        </section>
        <!--  -->
        <a href="https://almahamans.github.io/to-do-list/main.html" target="_blank" class="atodo"> <p>Use our To Do list app to organize your trip</p></a>
        <!--  -->
        <section class="data">

        <!-- <section class="image">image here</section>

        <section class="savedTrip">
            <span class="tripDesSpan">
                <p> My trip to</p>
                <p class="Des2"></p>
                <p class="destInfo1"></p>
                <p class="destInfo2"></p>
                <p class="destInfo3"></p>               
            </span>
            <span class="tripDateSpan">
                <p> Departing</p>
                <p class="edate"></p>  
            </span>
            <span class="flightInfoSpan">
                <p>Flight info</p>
                <p class="eFlight"></p>    
            </span>
            <span class="hotelInfoSpan">
                <p>Hotel info</p>
                <p class="eHotel"></p>   
            </span>
            <span class="tripEndDateSpan">
                <p> End date</p>
                <p class="eEndDate"></p> 
            </span>
            <div class="countdownDes">
                <span class="countdown"></span>
                <span class="Des"></span> 
                <br> 
                <span class="tripLength"></span> 
            </div>
            <div class="weather">
                <p>Typical weather for then is:</p>
                <span class="highW"></span>
                <span class="lowW"></span>
                <p class="statusW"></p>
            </div>
        </section>
    </section> -->
    <!-- <section class="btns">
        <button class="savingbtn">save trip</button>
    </section> -->
    <section class="results">
        <section id="tripInfo"></section>
    </section>
    <section class="data">
    <section id="savedTrips"></section>
    </section>
    </main>
    <footer></footer>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>