<!DOCTYPE html>
<html>
<head>
<meta name="description" content="travel planning app">
<meta name="keywords" content="travel planning">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="charset=UTF-8">

<title>Travel App</title>
</head>

<body>
    <header>
    <p class="header">Travel Planner</p>
    </header>
    <main>
        <section class="entredData">           
            <form id="form">
                <span class="tripDesSpan">
                    <label for="entredDes">Destination:</label>
                        <input type="text" autocomplete="off" spellcheck="true" name="entredDes" id="cityInput" class="entredDes" placeholder="where you going to?"  required pattern="[A-Za-z]">             
                </span>

            <span class="tripDateSpan">
                <label for="entredDate">Departing:</label>
                    <input type="date" name="entredDate" id="startDate" class="entredDate" required>   
            </span>
            <span class="tripEndDateSpan">
                <label for="entredEndDate">Return date:</label>
                    <input type="date" name="entredEndDate" id="endDate" class="entredEndDate" required>
            </span>
        </form>
        <p class="error hide"></p>
        <p id="date-error" class="error hide"></p>
        </section>
        
        <a href="https://almahamans.github.io/to-do-list/main.html" target="_blank" class="atodo"> <p>Use our To Do list app to organize your trip</p></a>
        
    <section class="btn">
        <button id='submit' class="savingbtn">search</button>
    </section>

    <section class="allCards">
        <div id="cards" class="hide data">
            <div id="photo" class="img-pixabay">
                <img src="../images/trip-holder.jpg" alt="trip destination photo" class="img-pixabay" id="img">
            </div>
            <div id="dest" class="cityName"></div>
            <div id="date_details">
            You are departing at: <span id="sd"></span>, 
            So you are <span id="dg"></span> days away to fly,
            <br>Your return day is: <span id="ed"></span>
            <br>Your trip is <span id="dl"></span> days long. 
            </div>    
            <div id="temp_details">
            Weather for then <span id="temp"></span> degree,   
            <!-- <img id="weather_icon" src="../icons/c01d.png" height="auto" width="auto">  -->
            <span id="weather"></span>
            </div>
            <button id="remove_trip" class="deletingbtn">Remove</button>
        </div>
    </section>

    </main>
    <footer></footer>

    <script>
        if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
    
</body>
</html>
