.img-pixabay {
  width: 30vw;
  height: 30vh;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  border-radius: 1rem;
}

.cityName {
  margin: auto;
  text-align: center;
  font-size: clamp(1.2rem, 2.3vw, 2.5rem);
  padding: 25px;
  font-weight: 600;
}
#card-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
