@import url('https://fonts.googleapis.com/css2?family=Alef&family=Lobster&family=Manrope:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef&family=Lobster&family=Manrope:wght@800&display=swap');

body{
    font-family: 'Alef', sans-serif, 'Lobster', cursive, 'Manrope';
}
main, input{
    font-size: clamp(1rem,1.4vw,2rem);
}
.header{
    font-size:  clamp(1.7rem, 3.5vw, 4rem);
    font-family: 'Lobster', cursive;
    text-shadow: 2px 3px 1px rgb(239, 165, 178);
}
.atodo{
    font-size: clamp(0.9rem, 1.5vw, 2rem);
}
header, footer{
    background-color: white;
}
.data{
    background-color:rgb(249, 229, 229);
}
input, button, .tripDesSpan, .tripDateSpan, .tripEndDateSpan, .hotelInfoSpan, .flightInfoSpan{  
    font-weight: 800;
}
::placeholder{
    color: black;
}
.entredData{
    background-color: rgb(227, 211, 189);
}
.addinginfo{
    font-size: small;
    color:rgb(149, 147, 147);
}
.atodo{
    text-decoration: none;
    color: palevioletred;
    text-shadow: 2px 2px 2px tan;
}
.error{
    border-color: red;
}