.entredDes, .entredDate, .entredEndDate, .entredFlight, .entredHotel{
    border: none;
    padding: 3%;
    background-color: inherit;
    margin-top: 9px;
}
:is(.entredDes, .entredDate, .entredEndDate, .entredFlight, .entredHotel):focus{
    outline: none;
}

.tripDesSpan, .tripDateSpan, .tripEndDateSpan, .hotelInfoSpan, .flightInfoSpan{
    display: flex;
    gap: 10px;
}
.tripDesSpan, .tripDateSpan, .hotelInfoSpan, .flightInfoSpan{
    margin-bottom: -20px;
}

  label {
    margin-top: 27px;
  }
  
  